body {
    font-family: Special Elite;
    background-color: #C1CCBC;
    color: #557A45;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Cutive Mono"
}

h1{
    font-size: 45pt;
}
h2 {
    font-size: 30pt;
    font-weight: bolder;
    font-stretch: semi-expanded;
}

header {
    text-align: center;
}

#hero, footer {
    color:#8F633E;
    border: 3px dotted #C7C789;
    text-align: center;
    background-color: #003D2B;
    padding: 20px;

}


/*Hero Section*/

#hero img {
    width: 275px
}

/* Bio Section*/

#bio {
    text-align: center;
    font-size: large;
}

/* Hobbies */

#hobbies {
    display:flex; 
    flex-direction: column;
    align-items: center;
}

#hobbies h2 {

    background-color: #003D2B;
    margin: 1px;
    padding: 10px;
    font-size: 50px;
    color:#A9BDA0;
}
#hobbies {
    border: 0 solid #003D2B;
    border-width: 5px;
    text-indent: 20px;
    color: darkslategray;
    background-color:#A9BDA0;

}
    


li {
    margin: 5px;
    font-size: larger;
    padding: 10px;
    list-style-type: square;
}

/*Photo Gallery*/
#gallery h2 {

    font-stretch: semi-expanded;
    padding: 20px;
    margin: 1px;
    background-color: #003d2b;
    color:#A9BDA0;
    font-size: 50px;
    text-align: center;
    
}
#gallery {
    
    color: darkslategray;
    border: 5px solid #003D2B;
    background-color: #A9BDA0;
    font-weight: bold;
    text-align: center;
    
    
}

figure figcaption {
    display: flex;
    font-size: large;
    align-content: center;
    justify-content: center;
    
    
}
 #gallery img {
    max-width: 60%;
    max-height: 50%;
    
}

/* Video */

#video h2 {

    border: 5px solid #003D2B;
    padding: 10px;
    line-height: 40px;
    background-color: #567C57;
    color:#A9BDA0;
}
#video {
    
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

#video iframe {

    border: 3px solid #003D2B;

}


/* Literature */

#lit h2 {
    line-height: 40px;
    text-align: center;
    border: 5px solid #003D2B;
    padding: 10px;
    background-color: #567C57;
    color:#A9BDA0;
}
#lit {
    text-align: center;
    font-size: large;
    line-height: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-blend-mode: color-burn;
    background-color: #A9BDA0;
    
    
}

#lit div {
    border: 1px solid #003D2B;
    border-radius: 50px;
    border-width: 5px;
    outline: 5px dotted #003d2b;
    padding: 20px;
    margin: 0 auto;

}
/* Contact Form */ 


#contact h2 {
    display: inline-block;
    font-weight: bolder;
    padding: 5px;
    background-color: beige;
    border: 5px solid beige;
    border-radius: 200px;
    text-align: center;
}

#formElements {
    display: grid;
    row-gap: 12px;
    font-weight: 900;
    text-align: left;
    font-family: Cutive mono;
    contain: content;
}

legend {
    background-color: beige;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: left;
}

fieldset {
    background-color: #A9BDA0;
    padding: 10px;
    border: 2px solid #003D2B;

}

#contact li {
    list-style: none;
}

textarea {
    resize: both;
    overflow: scroll;
    max-width: 300px;
    max-height: 200px;
}

button {
    padding: 10px;
    font-size: large;
    font-weight: 700px;
    background-color: whitesmoke;
    border: 2px solid #003D2B
}

input {
    border: 2px solid whitesmoke;
    border-radius: 20px;
}


/* tablet size */

@media only screen and (max-width: 1000px) {
    figure {
        display: grid; 
        grid-template-columns: 2fr 1fr;
    }

    #gallery {

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        contain: content;
    }
    

    #lit div {

        max-width: 100%;
        columns: 40rem;
    }

    #contact {

        display: grid;
        justify-content: center;
        contain: content;
       
    }


    fieldset {

        max-width: 100%;
        columns: 40rem;
        justify-content: center;
    }
}

/* large screen size */

@media only screen and (max-width: 2000px)  {

hr {
    display: none;
}

#gallery figure {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

#gallery h2 {
    
    grid-column: 1/-1;

}

figure {

    display: block;
    
}
}

    


