@media only screen and (min-width: 100px){

body {
    font-family:Inconsolata;
    background-color: #F2E2D4;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poiret One;
    font-weight:bolder;
    font-size: 3em;
}


header h1{
    color: #f6f7f6;
}

.logo{

    width:100%;
    height: 100%;
}

.class-name {
    font-size: 2rem;
    text-align: center;
    text-wrap: wrap;
}
header .navbar {
    background-color: #A63228;
}

header .navbar-links a:not(:hover){
    background-color: #A63228;
    font-size: 2rem;
    color: #f6f7f6; 
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: relative;
    margin: 2em;
    margin-left: 1em;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {

    display: block;
    background-color: #ddd7d7;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{

    content:'';
    position:absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}
.nav-toggle:checked ~ .navbar-links{
    display: none;
}
.nav-toggle:checked ~ .class-name{
    font-size: 2rem;
}

/*Hero Section*/
#hero, footer {
    text-align: center;
    padding: 20px;
}

#hero img {
    width: 275px;
    display: flex;
    border-radius: 200px;
}

#hero {
    background-color: #CDA5AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px ridge #CDA5AD;
    
}


/* Bio Section*/
#bio h2 {
    text-align: center;
}
#bio {
    text-align: left;
    padding: 10px;
    background-color: #ddd7d7;
    word-spacing: 2px;
    line-height: 40px;
    margin: 0;
}

/* Hobbies */
#hobbies {
    background-color: #ddd7d7;
    margin: 0;
    padding: 10px;
}
#hobbies h2 {

    text-align: center;
}
#hobbies li {
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    list-style-type: square;
}

/*Photo Gallery*/
#content-item {
    display: flex;
    flex-direction: row-reverse;
	overflow: hidden;
	margin: 30px 0;
}
#content-item .item{
	height: 60vh;
	overflow: hidden;
	cursor: pointer;
	background: #000;
    margin-top:30px;
}
#content-item .item img {
	height:100vh;
	opacity: .66;
}
#content-item .item:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity:1;
}
#content-item .item .caption {
    position: sticky;
	bottom: 50px;
	margin-left: 0px;
	opacity: 0;
	-webkit-transition: all 0.4s;
    transition: all 0.4s;
}
#content-item .item .caption h2 {
	margin: 0;
	color: #CDDFF8;
	font-size: 3em;
    font-family: 'Poiret One', sans-serif;
    letter-spacing: 1px;
}
#content-item .item .caption p {
	margin: 0;
	color: #CDDFF8;
	font-size: 1em;
    font-family: 'Inconsolate', sans-serif;
    letter-spacing: 1px;
}
#content-item .item:hover .caption {
	opacity: 1;
	bottom: 10px;
}

#content-item .item .caption h2, .caption p {
    background-color: #ddd7d7;
    background-color: rgba(50, 70, 71, 0.658);
}

.galleryheader {
    text-align: center;
    background-color: #CDA5AD;
    padding: 1px;
}
#gallery {
    background-color: #ddd7d7;
    text-align: center;
    border: 3px ridge #CDDFF8;
}

#gallery img {
    width: 100%;
    height: 100%;
}

/* Video */

#video h2 {
    padding: 5px;
    background-color: #552d32;
    color: #ddd7d7;
    border-radius: 10px;

}
#video {
    
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   padding: 10px;
   background: rgba(221, 213, 205, 0.651);
}


/* Literature */

#lit h2 {
    text-align: center;
    background-color: #CDA5AD;
    padding: 50px;
    line-height: 50px;
    margin: 0;
}
#lit {
    text-align: center;
    background-color: #f6f7f6;
    line-height: 60px;
    border-style: ridge;
}

/* Contact Form */ 


#contact h2 {
    display: inline-block;
    padding: 8px;
    background-color: #552d32;
    border-radius: 15px;
    text-align: center;
    color:#F2E2D4;
}

#formElements {
    display: grid;
    row-gap: 15px;
    font-weight: bold;
    text-align: left;
    font-family: Inconsolate;
    contain: content;
}

legend {
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: left;
}

fieldset {
    background-color: #ddd7d7;
    padding: 10px;
    border: 3px ridge #ddd7d7;
}

#contact li {
    list-style: none;
}

textarea {
    resize: both;
    overflow: scroll;
    max-width: 300px;
    max-height: 200px;
}

button {
    padding: 20px;
    font-size: large;
    font-weight: 700px;
    background-color: #f6f7f6;
    border: 2px solid ;
}

input {
    border: 2px solid black;
    border-radius: 20px;
}
}

/* Mobile size */
@media only screen and (max-width: 1200px){

header {
    text-align: center;
}

header .navbar .logo {
    display: inline-block;
    justify-content: space-evenly;
    width:fit-content;
    align-self: center;
    
}
body {
    display: block;
}


#content-item {
    display: flex;
    flex-direction: column;
	overflow: hidden;
	margin: 30px 0;
}

iframe {
    width: 80%;
}

#video {

    display: flex;
    flex-direction: column;

}
}
    

/* tablet size */

@media only screen and (max-width: 2000px) {

    body {
        display: block;
        justify-content: center;
        justify-content: space-evenly;
    }
}
