body {
    font-family: Special Elite;
    background-color: #C1CCBC;
    color: #557A45;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Cutive Mono"
}

h1{
    font-size: 45pt;
}
h2 {
    font-size: 30pt;
    font-weight: bolder;
    font-stretch: semi-expanded;
}

header {
    text-align: center;
}

#hero, footer {
    color:#8F633E;
    border: 3px dotted #C7C789;
    text-align: center;
    background-color: #003D2B;
    padding: 20px;

}

#hero img {
    width: 275px
}

#bio {
    text-align: center;
    font-size: large;
}

#hobbies {
    border: 0 solid #003D2B;
    border-width: 5px;
    text-indent: 20px;
    color: darkslategray;
    background-color:#A9BDA0;
}

li {
    margin: 5px;
    font-size: larger;
    padding: 10px;
    list-style-type: square;
}